[submodule "bundle/fuzzbox.vim"]
	path = bundle/fuzzbox.vim
	url = https://github.com/vim-fuzzbox/fuzzbox.vim
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "bundle/SupraSnake"]
	path = bundle/SupraSnake
	url = https://github.com/nda-cunh/SupraSnake
[submodule "bundle/ripgrep"]
	path = bundle/ripgrep
	url = https://github.com/BurntSushi/ripgrep
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/preservim/vim-indent-guides
[submodule "bundle/copilot.vim"]
	path = bundle/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
